@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center top;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.notif {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.notif.show {
  animation-name: slideIn;
}

.notif.hide {
  animation-name: slideOut;
}

.notif p {
  margin: 0;
}

.err {
  background-color: #f4433696;
  color: white;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 45px;
  margin-right: 10px;
}

#locName{
  font-size: 1.5rem;
  font-weight: 700;
}


@keyframes backgroundChange {
  0% {
    background-position:center bottom;
    opacity: 0;
  }

  100% {
    background-position:center top;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.notif {
  background-color: rgba(255, 255, 255, 0.404);
  color: #474545;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  top: 0;

  margin-top: 20px;
  position: absolute;
  display: fixed;
  text-align: center;
}

@media (max-width: 1440px) {
  .notif {
    left: 40%;
  }
}
@media (max-width: 1024px) {
  .notif {
    left: 35%;
  }
  
}

@media (max-width: 768px) {
  .notif {
    left: 30%;
  }
}

@media (max-width: 425px) {
  .notif {
    left: 20%;
  }
}

@media (max-width: 375px) {
  .notif {
    left: 15%;
  }
}

@media (max-width: 320px) {
  .notif {
    left: 10%;
  }
}

